body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: rgba(121, 164, 244, 0.668);
}

html,body{
    height: 100%;
}
nav{
    background: #070785;
    color:white;
    padding: 0.5em;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 1em;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

