body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #f3ececcf;
}

html,body{
    height: 100%;
}

nav{
    background: #070785;
    color:white;
    padding: 0.5em;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 1em;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


img {
  width: 550px; 
  height: 450px; 
}
table {
border-collapse: collapse;
width: 50%;
margin: 20px auto;
font-family: Arial, sans-serif;
}
        
th, td {
border: 1px solid #333;
padding: 10px;
text-align: center;
}

th {
background-color: #f2f2f2;
}

caption {
font-size: 1.2em;
margin-bottom: 10px;
font-weight: bold;
}