body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: rgba(244, 244, 142, 0.734);
}

html,body{
    height: 100%;
}

img {
  width: 500px; 
  height: 400px; 
}
nav{
    background: #070785;
    color:white;
    padding: 0.5em;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 1em;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.field-group {
margin-bottom: 15px;
}
        
.thank-you {
display: none;
color: rgb(18, 18, 206);
font-weight: bold;
margin-top: 20px;
}

